In [1]:
print("Hello world")

Hello world

In [2]:
2+2

4

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [15]:
price = ['$2000.00', '$3000.00', '$4000.00']
price

['$2000.00', '$3000.00', '$4000.00']

In [17]:
price = price.str.replace('/$/,/.', '').astype(int)

AttributeError: 'list' object has no attribute 'str'

In [18]:
car_sales["Price"] = car_sales["Price"].str.replace('[\$\,]|\.\d*', '').astype(int)

NameError: name 'car_sales' is not defined

In [ ]:
car_sale

In [19]:
operationTwo = 91239
operationTwo = operationTwo // 10
print(operationTwo)

9123

In [23]:
a = [10.0, 20.0]
b = a.cast(float)
print(b)

AttributeError: 'list' object has no attribute 'cast'

In [25]:
float_list = [1.2, 2.3, 3.4]
int_list = list(map(int, float_list))
print(int_list)

[1, 2, 3]

In [26]:
float_list = [1.2, 3.4, 5.5]
int_list = [int(x) for x in float_list]
print(int_list)

[1, 3, 5]

In [27]:
import random

In [30]:
# Generate a random float between 1.5 and 3.5 with a step size of 1
random_float = round(random.uniform(1.5, 3.5) / 0.1) * 0.1

In [31]:
print(random_float)

3.0