# Assigment 1 
Trying to put all the code we learnt in introdution in one cell. üòÇ

In [31]:
# let's import packages
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import pickle

# Let's import our data
heart_disease = pd.read_csv("data/heart-disease.csv")
# let's create X (Features)
X = heart_disease.drop("target", axis=1)
# let's create y (labels)
y = heart_disease["target"]
# let's pass RandomForestClassifier to clf
clf = RandomForestClassifier()
# keep default parameters
# clf.get_params()
# Slipt our data to trainings set and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
# let's fit our data into our model
clf.fit(X_train, y_train)
# let's make some predictions
y_preds = clf.predict(X_test)
# Let's evaluate our model on train and test score
clf.score(X_train, y_train)
clf.score(X_test, y_test)
# classification report
# print(classification_report(y_test, y_preds))
# confusion_matrix(y_test, y_preds)
# accuracy_score(y_test, y_preds)
# let's improve our model
# we're going to try a number of n-estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators..")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set{clf.score(X_test, y_test) * 100:.2f}%")
    print("")
# let export our model
pickle.dump(clf, open("random_forest_model_assign.pk1", "wb"))
# import our saved model
loaded_model = pickle.load(open("random_forest_model_assign.pk1", "rb"))
loaded_model.score(X_test, y_test)

Trying model with 10 estimators..
Model accuracy on test set78.69%

Trying model with 20 estimators..
Model accuracy on test set85.25%

Trying model with 30 estimators..
Model accuracy on test set81.97%

Trying model with 40 estimators..
Model accuracy on test set86.89%

Trying model with 50 estimators..
Model accuracy on test set83.61%

Trying model with 60 estimators..
Model accuracy on test set83.61%

Trying model with 70 estimators..
Model accuracy on test set81.97%

Trying model with 80 estimators..
Model accuracy on test set86.89%

Trying model with 90 estimators..
Model accuracy on test set80.33%

0.8032786885245902

#üëç Dome!

# Assigment 2

Try and practise filling missing values in car_sales_missing_data
and using pandas. Goodlucküëç

In [70]:
import numpy as np
import pandas as pd

# let's import our car_sales_missing data
car_sales_missing = pd.read_csv("data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

# check how many missing data 
car_sales_missing.isna().sum()

# let's create our X and y 
X = car_sales_missing.drop("Price", axis=1)
X.head()
y = car_sales_missing["Price"]
y.head()

# let's check for our missing data again
car_sales_missing.isna().sum()

# let's fill our missing data
# 1. Fill the "Make", "Colour", "Odometer (KM)", "Doors" columns
car_sales_missing["Make"].fillna("missing", inplace=True)
car_sales_missing["Colour"].fillna("missing", inplace=True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)
car_sales_missing["Doors"].fillna(4, inplace=True)

#let's confirm our data
car_sales_missing.isna().sum()

# let's drop rows in missing "Price"
car_sales_missing.dropna(inplace=True)

#let confirm our data
car_sales_missing.isna().sum()

#let's check our new length of data
len(car_sales_missing)

#let's import our new car_sales_missing data to X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

# Let's convert our data into numbers
# Turn our categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")
transform_X = transformer.fit_transform(car_sales_missing)
transform_X

pd.DataFrame(transform_X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,35431.0,15323.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0,19943.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,84714.0,28343.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,154365.0,13434.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0,14043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35820.0,32042.0
946,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,155144.0,5716.0
947,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,66604.0,31570.0
948,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,215883.0,4001.0
949,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,248360.0,12732.0